<form class="flex flex-col items-center justify-center gap-3" action="/post-blog" method="post">
    <input class="w-[900px] h-12 p-3 shadow-xl" name="blogHeading" type="text" placeholder="Enter blog heading">
    <textarea class="w-[900px] h-[350px] p-3" name="blogContent shadow-xl" type="text" placeholder="Enter blog here"></textarea>
    <button class="bg-blue-400 w-24 h-9 rounded-lg font-semibold" type="submit">Post</button>
</form>