<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Website</title>
    <link rel="stylesheet" href="output.css" />
    <link rel="icon" type="image/x-icon" href="/assets/blog.png">
</head>
<nav class="bg-gradient-to-r from-slate-950 to bg-slate-800 font-serif w-screen h-14 flex flex-row items-center text-white justify-evenly [&>a]:font-semibold"><span class="font-bold text-3xl ml-4"><a href="/">Blog</a></span><a href="/">Create-Post</a><a href="/view-all-posts">View-Posts</a></nav>
<body class="flex flex-col bg-red-300 min-h-screen">
    