<%- include('partials/header.ejs') %>
    <div class="bg-gradient-to-br from-slate-600 to bg-slate-300 flex flex-col flex-grow items-center justify-center">
        <%- include('partials/form.ejs') %>
    </div>
<%- include('partials/footer.ejs') %>